<a href="https://colab.research.google.com/github/ADVAIT135/Global_AI_ML/blob/main/Global_ai_hub_regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/train.csv')

In [3]:
data

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,6,1969,1969,663,663,1352,1,7,1,299,158000,1,0,1
1,6,1920,1950,1012,1012,1012,1,6,1,308,118400,1,0,1
2,5,1910,2006,1022,1022,1022,1,4,1,280,85000,1,0,1
3,5,1973,1973,1656,1656,1656,2,8,2,506,135000,1,0,1
4,6,1978,1978,918,918,1683,2,7,2,440,172500,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,6,2000,2000,959,959,1671,2,7,2,472,173000,1,1,1
761,7,2002,2002,1459,1459,1459,2,6,2,527,192000,0,1,0
762,5,1955,1990,864,864,864,1,5,2,572,115000,1,0,1
763,5,1956,1956,1048,1048,1048,1,6,1,286,135000,1,0,1
764,7,2006,2007,1258,1402,1402,0,7,3,648,194201,0,1,0

In [5]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [6]:
x = data.drop('SalePrice', axis = 1)
y = data.loc[:, 'SalePrice']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [8]:
Linear_reg = LinearRegression()
ridge_reg  = Ridge(alpha = 0.05, normalize = True)

In [9]:
Linear_reg.fit(x_train,y_train)
ridge_reg.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  FutureWarning,

Ridge(alpha=0.05, normalize=True)

In [11]:
linear_pred = Linear_reg.predict(x_test)
ridge_pred = ridge_reg.predict(x_test)

In [12]:
linear_mse = mean_squared_error(y_test, linear_pred)
ridge_mse = mean_squared_error(y_test, ridge_pred)

In [13]:
print(f'MSE withour Ridge : {linear_mse}')
print(f'MSE with Ridge : {ridge_mse}')

MSE withour Ridge : 3054558079.331053
MSE with Ridge : 2817949162.9191046